.type-icon {
    display: inline-block;
    width: 54px;
    line-height: 1;
    margin: 1px 0;
    padding: 3px 0;
    border: 1px solid #aaa;
    border-radius: 2px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #333;
    text-transform: uppercase;
    margin-right: 10px;
}

.type-none{
    display:none;
}

.type-normal {
    background: #8a8a59;
    background-image: -webkit-linear-gradient(#a8a878,#8a8a59);
    background-image: linear-gradient(#a8a878,#8a8a59);
    border-color: #79794e
}

.type-fire {
    background: #f08030;
    background-image: -webkit-linear-gradient(#f08030,#dd6610);
    background-image: linear-gradient(#f08030,#dd6610);
    border-color: #b4530d
}

.type-water {
    background: #6890f0;
    background-image: -webkit-linear-gradient(#6890f0,#386ceb);
    background-image: linear-gradient(#6890f0,#386ceb);
    border-color: #1753e3
}

.type-electric {
    background: #f8d030;
    background-image: -webkit-linear-gradient(#f8d030,#f0c108);
    background-image: linear-gradient(#f8d030,#f0c108);
    border-color: #c19b07
}

.type-grass {
    background: #78c850;
    background-image: -webkit-linear-gradient(#78c850,#5ca935);
    background-image: linear-gradient(#78c850,#5ca935);
    border-color: #4a892b
}

.type-ice {
    background: #98d8d8;
    background-image: -webkit-linear-gradient(#98d8d8,#69c6c6);
    background-image: linear-gradient(#98d8d8,#69c6c6);
    border-color: #45b6b6
}

.type-fighting {
    background: #c03028;
    background-image: -webkit-linear-gradient(#c03028,#9d2721);
    background-image: linear-gradient(#c03028,#9d2721);
    border-color: #82211b
}

.type-poison {
    background: #a040a0;
    background-image: -webkit-linear-gradient(#a040a0,#803380);
    background-image: linear-gradient(#a040a0,#803380);
    border-color: #662966
}

.type-ground {
    background: #e0c068;
    background-image: -webkit-linear-gradient(#e0c068,#d4a82f);
    background-image: linear-gradient(#e0c068,#d4a82f);
    border-color: #aa8623
}

.type-flying {
    background: #a890f0;
    background-image: -webkit-linear-gradient(#a890f0,#9180c4);
    background-image: linear-gradient(#a890f0,#9180c4);
    border-color: #7762b6
}

.type-psychic {
    background: #f85888;
    background-image: -webkit-linear-gradient(#f85888,#f61c5d);
    background-image: linear-gradient(#f85888,#f61c5d);
    border-color: #d60945
}

.type-bug {
    background: #a8b820;
    background-image: -webkit-linear-gradient(#a8b820,#8d9a1b);
    background-image: linear-gradient(#a8b820,#8d9a1b);
    border-color: #616b13
}

.type-rock {
    background: #b8a038;
    background-image: -webkit-linear-gradient(#b8a038,#93802d);
    background-image: linear-gradient(#b8a038,#93802d);
    border-color: #746523
}

.type-ghost {
    background: #705898;
    background-image: -webkit-linear-gradient(#705898,#554374);
    background-image: linear-gradient(#705898,#554374);
    border-color: #413359
}

.type-dragon {
    background: #7038f8;
    background-image: -webkit-linear-gradient(#7038f8,#4c08ef);
    background-image: linear-gradient(#7038f8,#4c08ef);
    border-color: #3d07c0
}

.type-steel {
    background: #b8b8d0;
    background-image: -webkit-linear-gradient(#b8b8d0,#9797ba);
    background-image: linear-gradient(#b8b8d0,#9797ba);
    border-color: #7a7aa7
}

.type-dark {
    background: #705848;
    background-image: -webkit-linear-gradient(#705848,#513f34);
    background-image: linear-gradient(#705848,#513f34);
    border-color: #362a23
}

.type-fairy {
    background: #e898e8;
    background-image: -webkit-linear-gradient(#e898e8,#de6ede);
    background-image: linear-gradient(#e898e8,#de6ede);
    border-color: #d547d5
}

.type-curse {
    background: #68a090;
    background-image: -webkit-linear-gradient(#68a090,#4e7c6f);
    background-image: linear-gradient(#68a090,#4e7c6f);
    border-color: #41685d
}