html{
    background-color: #FFFFFF;
}

nav{
    margin-bottom:0;
}

.header-title{
    font-size: 100px;
    font-weight: 900;
}

.header {
   position: relative;
   width: 100%;
   height: 300px;
   text-align: center;
   overflow: hidden;
   background: -webkit-linear-gradient(left,#111,black,#111);
   background: -o-linear-gradient(left,#111,black,#111);
   background: -moz-linear-gradient(left,#111,black,#111);
   background: linear-gradient(to right,#111,black,#111);
}

.header img {
    width: 750px;
    position: relative;
    top: -75%;
    filter: blur(3px) brightness(50%);
    -webkit-filter: blur(3px) brightness(50%);
    -moz-filter: blur(3px) brightness(50%);
    -o-filter: blur(3px) brightness(50%);
    -ms-filter: blur(3px) brightness(50%);
    animation-name: header-animation;
    animation: header-animation 10s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.header div {
   position: absolute;
   top: 75px;
   left: 0;
   width: 100%;
}

@keyframes header-animation {
    0% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.header, .guess, .search-prompt, .random{
    color: white;
    font-family: "lato";
    font-weight: 300;
    font-size: 36px;
    width: 100%;
    text-shadow: 0 0 8px #000000;
}

.guess {
    height: 200px;
    background: #F75555 url("/static/images/bulbasaur.png") left no-repeat;
    text-align: center;
    padding-top: 100px;
 }

.search-prompt {
    height: 300px;
    background: #559DF7 url("/static/images/pichu.png") left no-repeat;
 }

 .random {
    width: 100%;
    height: 200px;
    background: #8455F7 url("/static/images/charmander.png") right no-repeat;
    text-align: center;
    padding-top: 100px;
 }

@keyframes pokemon-animation {
    0% {
        background-position-y:-5px;
    }
    100% {
         background-position-y:5px;
    }
}

.guess, .search-prompt, .random {
    animation-name: pokemon-animation;
    animation: pokemon-animation 1s infinite;
    animation-direction: alternate-reverse;
    transition-timing-function: ease-in-out;
}

form{
    vertical-align: top;
    text-align:center;
    padding-top:150px;
}

input[type="text"] {
    width: 300px;
    font-size: 24px;
    vertical-align: top;
    padding: 4px;
    font-family: "lato";
}

.prompt{
    width:100%;
    margin-bottom:20px;
}

.input{
    width:100%;
}

.footer-container{
    width:100%;
    height: 200px;
    background-color: #000000;
}

.footer-1{
    width:800px;
    margin:auto;
    text-align:left;
    font-size: 26px;
    padding-top: 20px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
}

.footer-2{
    width:800px;
    margin:auto;
    text-align:left;
    font-size: 14px;
    padding-top: 14px;
    color: white;
    letter-spacing: 1px;
    line-height: 20px;
}

.random span, .guess a{
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 16px;
    border-radius: 16px;
    cursor:pointer;
}

.random a:hover, .guess a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

a{
    color:white;
}

.suggestions-input {
    position: relative;
    display: inline-block;
}

.suggestions {
    visibility: hidden;
    font-size: 17px;
    width: 600px;
    height: 96px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    top: -200px;
    left: -120px;
    line-height: 35px;
    overflow-y: auto;
}

.footer-container a {
    text-decoration:underline;
}

.suggestions a {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 4px;
    border: solid #3D72B5 1px;
}

.suggestions a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}