@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200);

html{
    font-family: Verdana, Geneva, sans-serif;
}

body {
    margin:0;
}

.header{
    background: #df1818;
    width:100%;
    height:100px;
    margin-bottom:24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.pokeball{
    width: 80px;
    margin: 12px;
}

.title {
    display: inline-block;
    vertical-align: top;
    font-size: 48px;
    margin-top: 14px;
    font-family: "Arial Black", Gadget, sans-serif;
    color:white;
    margin-left:20px;
}

.top{
    width: 600px;
    margin: auto;
    }

.description, .weight, .height, .types{
    width: 600px;
    margin: auto;
}

.types{
    margin-top:20px;
}

.description{
    margin-top:20px;
    margin-bottom:20px;
    font-size:18px;
    border-radius: 10px;
    padding:8px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.id{
    border-radius: 20px;
    background-color: black;
    padding: 10px;
    color: white;
    font-size: 32px;
    font-family: "Arial Black", Gadget, sans-serif;
    display: inline;
}

form{
    line-height: 40px;
    font-size: 20px;
    margin: auto;
    text-align: center;
}

.sprite{
    margin: auto;
    display: block;
}

.name{
    font-size: 32px;
    font-family: "Arial Black", Gadget, sans-serif;
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
}

.search{
    background-color:#313131;
    width:100%;
    font-family: 'Source Sans Pro', sans-serif;
    height:100px;
    color:#ffffff;
    font-weight:200;
}

input[type="text"]{
    width: 200px;
    font-size: 20px;
}

.outer{
    width:600px;
    margin:auto;
    height:50px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.stat{
    font-size: 26px;
    font-family: 'Source Sans Pro', sans-serif;
}

.stat-value{
height: 100%;
font-size: 36px;
}

.bar-outer{
    display: block;
    height: 60%;
    margin-top: 10px;
    float: right;
    width: 85%;
    background-color:black;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.bar-inner{
    width: 50%;
    height: 100%;
    background-color: blue;
    border-radius: 4px;
}