@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200);

html {
    font-family: Verdana, Geneva, sans-serif;
}

body {
    margin: 0;
}

.nav {
    background: #df1818;
    width: 100%;
    height: 100px;
    margin-bottom: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}


         @keyframes pokeball-animation {
         0%   {transform: rotate(0deg);}
         10%  {transform: rotate(-10deg)}
         50%  {transform: rotate(360deg);}
         60%  {transform: rotate(370deg);}
         100% {transform: rotate(0deg);}
         }

.pokeball {
    width: 80px;
    margin: 12px;
    animation-name: pokeball-animation;
    animation: pokeball-animation 5s infinite;
}

.title {
    display: inline-block;
    vertical-align: top;
    font-size: 48px;
    margin-top: 14px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
    margin-left: 20px;
}

.top {
    width: 600px;
    margin: auto;
}

.description, .weight-and-height, .types, .stats-header {
    width: 600px;
    margin: auto;
}

.types {
    margin-top: 20px;
}

.description {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 10px;
    padding: 8px;
    background-color: white;
    border: 1px solid #aaa;
}

.id {
    border-radius: 20px;
    background-color: black;
    padding: 12px;
    color: white;
    font-size: 32px;
    font-family: "Arial Black", Gadget, sans-serif;
    display: inline;
}

form {
    line-height: 60px;
    font-size: 24px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.weight-and-height>.header {
    font-size: 26px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 290px;
    display: inline-block;
    margin-bottom: 4px;
}

.weight-and-height>.value {
    width: 290px;
    display: inline-block;
    font-size: 18px;
}

.sprite {
    margin: auto;
    display: block;
}

.name {
    font-size: 32px;
    font-family: "Arial Black", Gadget, sans-serif;
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
    border: 1px solid black;
}

.search {
    background-color: #313131;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    height: 150px;
    color: #ffffff;
    font-weight: 200;
}

input[type="text"] {
    width: 250px;
    font-size: 24px;
    vertical-align: top;
    padding: 4px;
    font-family: lato;
}
input[type="image"] {
    width: 40px;
    margin-left: 6px;
}
.outer {
    width: 600px;
    margin: auto;
    height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.stat {
    font-size: 26px;
    font-family: 'Source Sans Pro', sans-serif;
}

.stat-value {
    height: 100%;
    font-size: 36px;
}

.stats {
    background-color: #EEEEEE;
    padding-bottom: 24px;
}

.stats-header {
    background-color: #333333;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.bar-outer {
    display: block;
    height: 60%;
    margin-top: 10px;
    float: right;
    width: 85%;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.bar-inner {
    width: 50%;
    height: 100%;
    background-color: blue;
    border-radius: 4px;
}

.outer .header{
    width: 190px;
    display: inline-block;
    font-size: 26px;
    font-family: 'Source Sans Pro', sans-serif;
}

.outer .value{
    width: 190px;
    display: inline-block;
    font-size: 36px;
}

.weight-and-height img {
    width: 20px;
    margin-right: 12px;
}

.search-icon {
    background-color: transparent;
    background-image: url(/static/images/search.png);
    background-size: 41px 41px;
    border: solid 0px #000000;
    width: 41px;
    height: 41px;
    vertical-align: top;
    margin-left: 4px;
}

.search img {
    width: 41px;
    margin-left: 4px;
}