<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pokédex</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel=stylesheet type="text/css" href="/static/css/base.css">
        <link rel=stylesheet type="text/css" href="/static/css/pokemon.css">
        <link rel=stylesheet type="text/css" href="/static/css/guess.css">
        <link rel=stylesheet type="text/css" href="/static/css/icons.css">
    </head>
    <body>
        <nav>
            <a href="/">
                <img src="/static/images/pokeball.png" class="pokeball">
                <img src="/static/images/logo.png" class="logo">
            </a>
        </nav>
        <div class="top">
            <img src="{{svg}}" class="sprite hide-pokemon">
            <br>
            <div class="id hide">{{id}}</div>
            <div class="name hide">{{name}}<img src="/static/images/sound.png" class="sound" onclick="playSound()">
            </div>
        </div>
        <div class="description">{{hidden_description}}</div>
        <div class="guess-outer">
            <div class="guess-inner">
                <input type="text" name="guess" placeholder="Who's That Pokémon?">
                <img src="/static/images/guess.png" onclick="guess()">
                <img src="/static/images/giveup.png" onclick="giveUp()">
            </div>
        </div>
        <div class="weight-and-height">
            <div class="header"><img src="/static/images/weight.png">Weight</div>
            <div class="header"><img src="/static/images/height.png">Height</div>
            <div class="value">{{kg}} kg / {{pounds}} pounds</div>
            <div class="value">{{meters}} meters / {{feet}}'{{inches}}''</div>
        </div>
        <div class="types-and-abilities">
            <div class="header"><img src="/static/images/types.png">Types</div>
            <div class="header"><img src="/static/images/ability.png">Abilities</div>
            <div class="value">
                {% for type in types %}
                <span class="type-icon type-{{type}}">{{ type }}</span>
                {% endfor %}
            </div>
            <div class="value">
                {% for ability in abilities %}
                <span class="ability">{{ ability }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="moves">
            <div onclick="toggle()" class="header"><img src="/static/images/expand.png" class="expand-collapse">Moves</div>
            <div class="all-moves" style="display:none;">
                {% for move in moves %}
                <span>{{ move }}</span>
                {% endfor %}
            </div>
            <div class="moves-prompt" style="display:block">
                Click to show moves.
            </div>
        </div>
        <div class="stats-header">
            <img src="/static/images/stats.png">
        </div>
        <div class="stats">
            <div class="outer">
                <div class="header">Attack</div>
                <div class="value">{{attack}}
                    <div class="bar-outer">
                        <div class="bar-inner attack"></div>
                    </div>
                </div>
            </div>
            <div class="outer">
                <div class="header">Special Attack</div>
                <div class="value">{{special_attack}}
                    <div class="bar-outer">
                        <div class="bar-inner special-attack"></div>
                    </div>
                </div>
            </div>
            <div class="outer">
                <div class="header">Defense</div>
                <div class="value">{{defense}}
                    <div class="bar-outer">
                        <div class="bar-inner defense"></div>
                    </div>
                </div>
            </div>
            <div class="outer">
                <div class="header">Special Defense</div>
                <div class="value">{{special_defense}}
                    <div class="bar-outer">
                        <div class="bar-inner special-defense"></div>
                    </div>
                </div>
            </div>
            <div class="outer2">
                <div class="header">HP</div>
                <div class="header">Speed</div>
                <div class="header">EXP</div>
                <div class="value">{{hp}}</div>
                <div class="value">{{speed}}</div>
                <div class="value">{{exp}}</div>
            </div>
        </div>
        <div class="search">
            <form method="get" action="{{ url_for('pokemon_page') }}">
                Search for another Pokémon or type:
                <br>
                <input type="text" name="name">
                <input type="submit" id="search-submit" value="" class="search-icon"/>
                <span onclick="getRandomPokemon('{{ request.url_root }}')">
                    <img src="/static/images/random.png">
                </span>
                <a href="{{ url_for('guess_page') }}">
                    <img src="/static/images/guess.png">
                </a>
            </form>
        </div>
    </body>
    <script>
      var color = {{background_color | tojson}};
      var barValues = {{bar_values | tojson}};
      var barColors = ["{{bar_colors[0]}}","{{bar_colors[1]}}","{{bar_colors[2]}}","{{bar_colors[3]}}"];
      var pokemon = "{{name}}";
      var sound = new Audio("{{sound}}");
      var moves = {{ moves|tojson }};
      var normalDescription = "{{normal_description}}";
    </script>
    <script src="/static/js/pokemon.js"></script>
    <script src="/static/js/guess.js"></script>
    <script src="/static/js/colors.js"></script>
    <script src="/static/js/random.js"></script>
</html>